:root {
  --fallback-font-stack: Helvetica, Arial, serif;
}

.doi-tac.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.doi-tac .section1 {
  position: relative;
  display: flex;
  flex-direction: column;
  border-color: forestgreen;
  border-style: solid;
  border-width: 0 0 2px;
}
.doi-tac .flex_row {
  position: relative;
  display: flex;
  gap: 0 16px;
  margin: 0 auto 2px;
  width: 1270px;
}
.doi-tac .image {
  width: 195px;
  min-width: 0;
}
.doi-tac .info {
  display: flex;
  align-items: center;
  margin: 0 0 0.5px;
  min-width: 0;
  font: 500 16px/5.5 Inter, Helvetica, Arial, serif;
  color: #151515;
}
.doi-tac .info1 {
  z-index: 1;
  display: flex;
  align-items: center;
  margin: 0 0 0.5px;
  min-width: 0;
  font: 500 15.875px/5.54 Inter, Helvetica, Arial, serif;
  color: #151515;
}
.doi-tac .image1 {
  margin: 40px 0 38px;
  width: 10px;
  min-width: 0;
}
.doi-tac .flex_row1 {
  position: absolute;
  inset: 0 325px 2px 746px;
  display: flex;
  gap: 0 14px;
  width: 849px;
  height: 88px;
}
.doi-tac .info2 {
  z-index: 1;
  display: flex;
  align-items: center;
  margin: 0 0 0.5px;
  min-width: 0;
  font: 500 16px/5.5 Inter, Helvetica, Arial, serif;
  color: #151515;
}
.doi-tac .image2 {
  margin: 40px 0 38px;
  width: 11px;
  min-width: 0;
}
.doi-tac .flex_row2 {
  display: flex;
  gap: 0 24px;
  width: 696px;
  min-width: 0;
}
.doi-tac .info21 {
  display: flex;
  align-items: center;
  margin: 0 0 0.5px;
  min-width: 0;
  font: 500 15.75px/5.58 Inter, Helvetica, Arial, serif;
  color: #151515;
}
.doi-tac .flex_row3 {
  display: flex;
  gap: 0 14px;
  width: 617px;
  min-width: 0;
}
.doi-tac .flex_row4 {
  display: flex;
  gap: 0 23px;
  width: 510px;
  min-width: 0;
}
.doi-tac .flex_row5 {
  display: flex;
  align-items: center;
  gap: 0 12px;
  width: 391px;
  min-width: 0;
}
.doi-tac .image3 {
  width: 69px;
  min-width: 0;
}
.doi-tac .flex_row6 {
  display: flex;
  gap: 0 9px;
  width: 310px;
  min-width: 0;
}
.doi-tac .content_box {
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 0;
  background: var(--src) center center/100% 100% no-repeat;
  border-radius: 20px;
  outline: 1px solid #bbbbbf;
  outline-offset: -1px;
}
.doi-tac .image4 {
  margin: 1px 1px 0 194px;
  width: 45px;
}
.doi-tac .flex_row7 {
  display: flex;
  gap: 0 13px;
  margin: 4px 0 7px;
  width: 61px;
  min-width: 0;
}
.doi-tac .wrapper2 {
  margin: 0 0 5px;
  width: 24px;
  min-width: 0;
}
.doi-tac .content_box1 {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0;
  width: 24px;
  min-width: 0;
  background: var(--src) center center/100% 100% no-repeat;
}
.doi-tac .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11px 0 1px 5px;
  font: 400 12px/1 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: forestgreen;
  border-radius: 6px;
  padding: 0 5.5px;
}
.doi-tac .section2 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/100% 100% no-repeat;
}
.doi-tac .flex_row8 {
  display: flex;
  gap: 0 7px;
  margin: 15.5px auto;
  width: 1270px;
}
.doi-tac .info5 {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 400 14px/1.71 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .image5 {
  margin: 1.5px 0;
  width: 10px;
  min-width: 0;
}
.doi-tac .info6 {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 400 14px/1.71 Inter, Helvetica, Arial, serif;
  color: forestgreen;
}
.doi-tac .section3 {
  display: flex;
  flex-direction: column;
}
.doi-tac .flex_row9 {
  display: flex;
  gap: 0 21px;
  margin: 19.5px auto 86px;
  width: 1270px;
}
.doi-tac .flex_col {
  display: flex;
  flex-direction: column;
  gap: 30px 0;
  width: 947px;
  min-width: 0;
}
.doi-tac .info7 {
  display: flex;
  align-items: center;
  font: 700 28px/1.19 Inter, Helvetica, Arial, serif;
  color: forestgreen;
}
.doi-tac .flex_col1 {
  display: flex;
  flex-direction: column;
  gap: 46px 0;
}
.doi-tac .flex_row10 {
  display: flex;
  gap: 0 20px;
}
.doi-tac .flex_col2 {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
  margin: 0 0 75px;
  width: 302px;
  min-width: 0;
}
.doi-tac .image6 {
  width: 100%;
  border-radius: 5px;
}
.doi-tac .flex_col3 {
  display: flex;
  flex-direction: column;
  gap: 35px 0;
  width: 154px;
}
.doi-tac .info8 {
  display: flex;
  align-items: center;
  font: 500 16px/1.5 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .info9 {
  display: flex;
  align-items: center;
  margin: 0 18px 0 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.1px;
}
.doi-tac .flex_col4 {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
  margin: 0 0 118px;
  width: 303px;
  min-width: 0;
}
.doi-tac .image7 {
  width: 100%;
  border-radius: 5px;
}
.doi-tac .flex_col5 {
  display: flex;
  flex-direction: column;
  gap: 35px 0;
  width: 136px;
}
.doi-tac .info81 {
  display: flex;
  align-items: center;
  margin: 0 13px 0 0;
  font: 500 16px/1.5 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .info91 {
  display: flex;
  align-items: center;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.1px;
}
.doi-tac .flex_col6 {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
  width: 302px;
  min-width: 0;
}
.doi-tac .image8 {
  width: 100%;
  border-radius: 5px;
}
.doi-tac .flex_col7 {
  display: flex;
  flex-direction: column;
  gap: 35px 0;
  width: 190px;
}
.doi-tac .flex_col8 {
  display: flex;
  flex-direction: column;
  width: 302px;
  min-width: 0;
}
.doi-tac .image9 {
  width: 100%;
  border-radius: 5px;
}
.doi-tac .info82 {
  display: flex;
  align-items: center;
  margin: 14.5px 0 0;
  font: 500 16px/1.5 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .info92 {
  display: flex;
  align-items: center;
  margin: 35.5px 0 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.31px;
}
.doi-tac .flex_col9 {
  display: flex;
  flex-direction: column;
  margin: 0 0 192px;
  width: 303px;
  min-width: 0;
}
.doi-tac .image10 {
  width: 100%;
  border-radius: 5px;
}
.doi-tac .info93 {
  display: flex;
  align-items: center;
  margin: 35.5px 0 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.1px;
}
.doi-tac .flex_col10 {
  display: flex;
  flex-direction: column;
  margin: 0 0 195px;
  width: 302px;
  min-width: 0;
}
.doi-tac .image11 {
  width: 100%;
  border-radius: 5px;
}
.doi-tac .info94 {
  display: flex;
  align-items: center;
  margin: 35.5px 0 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.2px;
}
.doi-tac .flex_col11 {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
}
.doi-tac .image12 {
  width: 302px;
  min-width: 0;
  border-radius: 5px;
}
.doi-tac .content_box2 {
  position: relative;
  margin: 0 0 77px;
  width: 625px;
  min-width: 0;
  min-height: 308px;
}
.doi-tac .flex_col12 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 625px;
  height: 308px;
}
.doi-tac .image13 {
  width: 303px;
  min-width: 0;
  border-radius: 5px;
}
.doi-tac .image14 {
  margin: 0 0 51px;
  width: 302px;
  min-width: 0;
  border-radius: 5px;
}
.doi-tac .flex_col13 {
  position: absolute;
  top: 176.5px;
  left: 323px;
  display: flex;
  flex-direction: column;
  gap: 35px 0;
  width: 175px;
  height: 80.5px;
}
.doi-tac .info95 {
  display: flex;
  align-items: center;
  margin: 0 28px 0 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.2px;
}
.doi-tac .flex_col14 {
  display: flex;
  flex-direction: column;
  gap: 35px 0;
  width: 147px;
}
.doi-tac .info96 {
  display: flex;
  align-items: center;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.2px;
}
.doi-tac .image15 {
  width: 100%;
  border-radius: 5px;
}
.doi-tac .info83 {
  display: flex;
  align-items: center;
  margin: 0 10px 0 0;
  font: 500 16px/1.5 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .flex_col15 {
  display: flex;
  flex-direction: column;
  gap: 14px 0;
  margin: 0 0 11px;
  width: 303px;
  min-width: 0;
}
.doi-tac .image16 {
  width: 100%;
  border-radius: 5px;
}
.doi-tac .info84 {
  display: flex;
  align-items: center;
  margin: 0 25px 0 0;
  font: 500 16px/1.5 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .content_box8 {
  position: relative;
  margin: 5.5px 0 1172px;
  width: 302px;
  min-width: 0;
  min-height: 578px;
}
.doi-tac .flex_col16 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 578px;
}
.doi-tac .flex_col17 {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
}
.doi-tac .info10 {
  display: flex;
  align-items: center;
  font: 700 19.84375px/1.2 Inter, Helvetica, Arial, serif;
  color: forestgreen;
  text-transform: uppercase;
  letter-spacing: -0.2px;
}
.doi-tac .content_box3 {
  display: flex;
  flex-direction: column;
  border-color: #bbbbbf;
  border-style: solid;
  border-width: 0 0 1px;
}
.doi-tac .flex_row11 {
  display: flex;
  gap: 0 10px;
  margin: 0 0 12px;
}
.doi-tac .image17 {
  margin: 0 0 9px;
  width: 120px;
  min-width: 0;
  border-radius: 5px;
}
.doi-tac .flex_col18 {
  display: flex;
  flex-direction: column;
  gap: 7px 0;
  margin: 1px 0 0;
  width: 166px;
  min-width: 0;
}
.doi-tac .image18 {
  width: 100%;
}
.doi-tac .info11 {
  display: flex;
  align-items: center;
  margin: 0 39px 0 0;
  font: 400 13.78125px/1.52 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.7px;
}
.doi-tac .flex_col19 {
  display: flex;
  flex-direction: column;
}
.doi-tac .content_box4 {
  display: flex;
  flex-direction: column;
  border-color: #bbbbbf;
  border-style: solid;
  border-width: 0 0 1px;
}
.doi-tac .flex_row12 {
  display: flex;
  gap: 0 10px;
  margin: 14.5px 0 21px;
}
.doi-tac .image171 {
  margin: 0.5px 0 0;
  width: 120px;
  min-width: 0;
  border-radius: 5px;
}
.doi-tac .flex_col20 {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  margin: 0 0 9px;
  width: 157px;
  min-width: 0;
}
.doi-tac .wrapper18 {
  display: flex;
  align-items: center;
  font: 500 14px/1.4 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .info111 {
  display: flex;
  align-items: center;
  margin: 0 30px 0 0;
  font: 400 13.78125px/1.52 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.7px;
}
.doi-tac .wrapper181 {
  display: flex;
  align-items: center;
  margin: 0 15px 0 auto;
  width: 157px;
  font: 500 14px/1.4 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .content_box6 {
  display: flex;
  flex-direction: column;
  margin: 58.5px 0 0;
  border-color: #bbbbbf;
  border-style: solid;
  border-width: 0 0 1px;
}
.doi-tac .flex_row13 {
  display: flex;
  gap: 0 10px;
  margin: 15px 0 12px;
}
.doi-tac .flex_col21 {
  display: flex;
  flex-direction: column;
  gap: 7px 0;
  margin: 1px 0 0;
  width: 154px;
  min-width: 0;
}
.doi-tac .image20 {
  width: 100%;
}
.doi-tac .info97 {
  display: flex;
  align-items: center;
  margin: 0 18px 0 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.31px;
}
.doi-tac .content_box7 {
  position: relative;
  margin: 15px 19px 0 0;
  min-height: 85px;
}
.doi-tac .flex_row14 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  gap: 0 10px;
  width: 267px;
  height: 85px;
}
.doi-tac .info12 {
  display: flex;
  align-items: center;
  margin: 64px 0 0;
  min-width: 0;
  font: 400 13.890625px/1.51 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.4px;
}
.doi-tac .image21 {
  position: absolute;
  top: 1px;
  left: 130px;
  width: 153px;
}
.doi-tac .content_box5 {
  position: absolute;
  top: 253px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 302px;
  height: 113px;
  border-color: #bbbbbf;
  border-style: solid;
  border-width: 0 0 1px;
}
.doi-tac .flex_row15 {
  display: flex;
  gap: 0 10px;
  margin: 15px 0 21px;
}
.doi-tac .image19 {
  width: 120px;
  min-width: 0;
  border-radius: 5px;
}
.doi-tac .info98 {
  display: flex;
  align-items: center;
  margin: 47px 0 9px;
  min-width: 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #7b7b7d;
  letter-spacing: -0.5px;
}
.doi-tac .section4 {
  display: flex;
  flex-direction: column;
  background-color: forestgreen;
}
.doi-tac .content_box10 {
  position: relative;
  margin: 21px 325px 21px 324px;
  width: 1271px;
  height: 38px;
  min-height: 38px;
}
.doi-tac .flex_row16 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 1270px;
  height: 38px;
}
.doi-tac .flex_row17 {
  display: flex;
  gap: 0 18px;
  width: 262px;
  min-width: 0;
}
.doi-tac .color7 {
  width: 38px;
  min-width: 0;
  min-height: 38px;
  border-radius: 19px;
  outline: 2px solid white;
  outline-offset: -2px;
  opacity: 0.5;
}
.doi-tac .flex_row18 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  margin: 1px 0;
  width: 739px;
  min-width: 0;
}
.doi-tac .info13 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  font: 700 15.75px/1.21 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}
.doi-tac .content_box9 {
  display: flex;
  flex-direction: column;
  width: 343px;
  min-width: 0;
  background-color: white;
  border-radius: 3px;
  outline: 1px solid #ebebeb;
}
.doi-tac .info14 {
  display: flex;
  align-items: center;
  margin: 9px 0 10px 15px;
  width: 119px;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: #6c757d;
}
.doi-tac .btn1 {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 84px;
  height: 38px;
  font: 700 14px/1.5 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #37cd37;
  border-radius: 0 3px 3px 0;
}
.doi-tac .section5 {
  display: flex;
  flex-direction: column;
  margin: 0 0 17.5px;
}
.doi-tac .flex_row19 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 34px auto 0;
  width: 1270px;
  padding-right: 23px;
}
.doi-tac .flex_row20 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  width: 460px;
  min-width: 0;
}
.doi-tac .flex_col22 {
  display: flex;
  flex-direction: column;
  margin: 0 0 14.5px;
  width: 292px;
  min-width: 0;
}
.doi-tac .flex_row21 {
  z-index: 4;
  display: flex;
  gap: 0 10px;
}
.doi-tac .wrapper {
  margin: 0 0 7px;
  width: 64px;
  min-width: 0;
}
.doi-tac .info19 {
  display: flex;
  align-items: center;
  margin: 43px 0 0;
  min-width: 0;
  font: 400 15px/1.73 Inter, Helvetica, Arial, serif;
  color: forestgreen;
}
.doi-tac .flex_row22 {
  display: flex;
  margin: 13px 0 0;
}
.doi-tac .image22 {
  margin: 0 0 18px;
  width: 30px;
  min-width: 0;
}
.doi-tac .desc {
  display: flex;
  align-items: center;
  width: 262px;
  min-width: 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #212529;
}
.doi-tac .flex_row23 {
  display: flex;
  margin: 12px 0 0;
}
.doi-tac .image221 {
  width: 30px;
  min-width: 0;
}
.doi-tac .info16 {
  display: flex;
  align-items: center;
  margin: 0 0 3px;
  min-width: 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .info17 {
  display: flex;
  align-items: center;
  margin: 0 0 3px;
  min-width: 0;
  font: 400 13.5625px/1.54 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .info18 {
  display: flex;
  align-items: center;
  margin: 0 0 3px;
  min-width: 0;
  font: 400 13.453125px/1.56 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .flex_col23 {
  display: flex;
  flex-direction: column;
  margin: 44.5px 0 0;
  width: 137px;
  min-width: 0;
}
.doi-tac .info20 {
  display: flex;
  align-items: center;
  font: 700 15.75px/1.21 Inter, Helvetica, Arial, serif;
  color: forestgreen;
  text-transform: uppercase;
}
.doi-tac .info211 {
  display: flex;
  align-items: center;
  margin: 18px 0 0;
  font: 400 14px/1.42 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .info212 {
  display: flex;
  align-items: center;
  margin: 16px 9px 0 0;
  font: 400 14px/1.42 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .info213 {
  display: flex;
  align-items: center;
  margin: 16px 7px 0 0;
  font: 400 14px/1.42 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .info214 {
  display: flex;
  align-items: center;
  margin: 16px 0 0;
  font: 400 14px/1.42 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.doi-tac .flex_row24 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 44.5px 0 18.5px;
  width: 602px;
  min-width: 0;
}
.doi-tac .flex_col24 {
  display: flex;
  flex-direction: column;
  margin: 0 0 53.5px;
  width: 234px;
  min-width: 0;
}
.doi-tac .info201 {
  display: flex;
  align-items: center;
  font: 700 15.75px/1.21 Inter, Helvetica, Arial, serif;
  color: forestgreen;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}
.doi-tac .flex_col25 {
  display: flex;
  flex-direction: column;
  width: 279px;
  min-width: 0;
}
.doi-tac .info22 {
  display: flex;
  align-items: center;
  font: 700 15.5px/1.23 Inter, Helvetica, Arial, serif;
  color: forestgreen;
  text-transform: uppercase;
}
.doi-tac .image27 {
  margin: 15.5px 0 0;
  width: 100%;
}
.doi-tac .image28 {
  margin: 20px 0 0;
  width: 158px;
}