:root {
  --fallback-font-stack: Helvetica, Arial, serif;
}

.lien-he.main {
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: hidden;
}
.lien-he .section1 {
  display: flex;
  flex-direction: column;
  border-color: forestgreen;
  border-style: solid;
  border-width: 0 0 2px;
}
.lien-he .flex_row {
  display: flex;
  align-items: center;
  gap: 0 18px;
  margin: 0 auto 2px;
  width: 1270px;
}
.lien-he .flex_row1 {
  display: flex;
  gap: 0 17px;
  width: 855px;
  min-width: 0;
}
.lien-he .image {
  width: 195px;
  min-width: 0;
}
.lien-he .info {
  display: flex;
  align-items: center;
  margin: 0 0 0.5px;
  min-width: 0;
  font: 500 16px/5.5 Inter, Helvetica, Arial, serif;
  color: #151515;
}
.lien-he .info1 {
  z-index: 1;
  display: flex;
  align-items: center;
  margin: 0 0 0.5px;
  min-width: 0;
  font: 500 15.875px/5.54 Inter, Helvetica, Arial, serif;
  color: #151515;
}
.lien-he .image1 {
  margin: 40px 0 38px;
  width: 10px;
  min-width: 0;
}
.lien-he .flex_row2 {
  display: flex;
  align-items: center;
  gap: 0 15px;
  margin: 0 0 0.5px;
  width: 434px;
  min-width: 0;
}
.lien-he .info2 {
  z-index: 1;
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 16px/5.5 Inter, Helvetica, Arial, serif;
  color: #151515;
}
.lien-he .image11 {
  width: 10px;
  min-width: 0;
}
.lien-he .info21 {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 15.75px/5.58 Inter, Helvetica, Arial, serif;
  color: #151515;
}
.lien-he .image2 {
  width: 11px;
  min-width: 0;
}
.lien-he .info3 {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 16px/5.5 Inter, Helvetica, Arial, serif;
  color: #151515;
}
.lien-he .image3 {
  width: 68px;
  min-width: 0;
}
.lien-he .flex_row3 {
  display: flex;
  gap: 0 9px;
  width: 310px;
  min-width: 0;
}
.lien-he .content_box10 {
  display: flex;
  flex-direction: column;
  width: 240px;
  min-width: 0;
  background: var(--src) center center/100% 100% no-repeat;
  border-radius: 20px;
  outline: 1px solid #bbbbbf;
  outline-offset: -1px;
}
.lien-he .image4 {
  margin: 1px 1px 0 194px;
  width: 45px;
}
.lien-he .flex_row4 {
  display: flex;
  gap: 0 13px;
  margin: 4px 0 7px;
  width: 61px;
  min-width: 0;
}
.lien-he .wrapper2 {
  margin: 0 0 5px;
  width: 24px;
  min-width: 0;
}
.lien-he .content_box9 {
  display: flex;
  flex-direction: column;
  margin: 5px 0 0;
  width: 24px;
  min-width: 0;
  background: var(--src) center center/100% 100% no-repeat;
}
.lien-he .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 11px 0 1px 5px;
  font: 400 12px/1 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: forestgreen;
  border-radius: 6px;
  padding: 0 6px 0 5px;
}
.lien-he .section2 {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/100% 100% no-repeat;
}
.lien-he .flex_row5 {
  display: flex;
  gap: 0 6px;
  margin: 15.5px auto;
  width: 1268px;
}
.lien-he .info6 {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 400 14px/1.71 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .image5 {
  margin: 1.5px 0;
  width: 11px;
  min-width: 0;
}
.lien-he .info7 {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 400 14px/1.71 Inter, Helvetica, Arial, serif;
  color: forestgreen;
}
.lien-he .section3 {
  display: flex;
  flex-direction: column;
}
.lien-he .flex_col {
  display: flex;
  flex-direction: column;
  margin: 30px auto 40px;
  width: 1270px;
}
.lien-he .info8 {
  display: flex;
  align-items: center;
  font: 700 29px/1.19 Inter, Helvetica, Arial, serif;
  color: forestgreen;
  letter-spacing: -0.1px;
}
.lien-he .group {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  margin: 8px 0 0;
}
.lien-he .content_box14 {
  position: relative;
  min-height: 450px;
  background-color: gray;
}
.lien-he .content_box15 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 1270px;
  height: 450px;
  background-color: #e5e3df;
}
.lien-he .cover1 {
  position: relative;
  width: 100%;
}
.lien-he .content_box11 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 302px;
  height: 115px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
}
.lien-he .flex_row6 {
  position: absolute;
  top: 10px;
  left: 12px;
  display: flex;
  gap: 0 20px;
  width: 271px;
  height: 95px;
}
.lien-he .flex_col1 {
  display: flex;
  flex-direction: column;
  width: 196px;
  min-width: 0;
}
.lien-he .info15 {
  display: flex;
  align-items: center;
  font: 500 14px/1.14 Roboto, Helvetica, Arial, serif;
  color: black;
  letter-spacing: -0.1px;
}
.lien-he .desc {
  display: flex;
  align-items: center;
  margin: 6px 0 0;
  font: 400 12px/1.16 Roboto, Helvetica, Arial, serif;
  color: #5b5b5b;
}
.lien-he .flex_row7 {
  display: flex;
  gap: 0 6px;
  margin: 5px 0 0;
}
.lien-he .info16 {
  display: flex;
  align-items: center;
  min-width: 0;
  font: 500 14px/1.14 Roboto, Helvetica, Arial, serif;
  color: #5b5b5b;
}
.lien-he .image10 {
  margin: 2px 0 0;
  width: 55px;
  min-width: 0;
}
.lien-he .info17 {
  display: flex;
  align-items: center;
  margin: 2px 0 0;
  min-width: 0;
  font: 400 12px/1.16 Roboto, Helvetica, Arial, serif;
  color: #1a73e8;
}
.lien-he .info171 {
  display: flex;
  align-items: center;
  margin: 10px 0 0;
  font: 400 12px/1.16 Roboto, Helvetica, Arial, serif;
  color: #1a73e8;
  letter-spacing: -0.1px;
}
.lien-he .flex_col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px 0;
  margin: 0 0 54px;
  width: 55px;
  min-width: 0;
}
.lien-he .image9 {
  width: 22px;
}
.lien-he .image101 {
  width: 55px;
}
.lien-he .content_box12 {
  position: absolute;
  bottom: 0;
  left: 10px;
  display: flex;
  flex-direction: column;
  width: 1254px;
  height: 105px;
}
.lien-he .flex_row8 {
  position: absolute;
  right: 109px;
  bottom: 0;
  display: flex;
  gap: 0 1px;
  width: 219px;
  height: 14px;
}
.lien-he .color12 {
  width: 48px;
  min-width: 0;
  min-height: 14px;
  background-color: whitesmoke;
  opacity: 0.69;
}
.lien-he .color13 {
  width: 108px;
  min-width: 0;
  min-height: 14px;
  background-color: whitesmoke;
  opacity: 0.69;
}
.lien-he .color14 {
  width: 61px;
  min-width: 0;
  min-height: 14px;
  background-color: whitesmoke;
  opacity: 0.69;
}
.lien-he .color11 {
  position: absolute;
  right: -6px;
  bottom: 0;
  width: 114px;
  height: 14px;
  background-color: whitesmoke;
  opacity: 0.69;
}
.lien-he .content_box121 {
  position: relative;
  min-height: 105px;
}
.lien-he .image12 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1254px;
}
.lien-he .flex_row9 {
  display: flex;
  gap: 0 20px;
  margin: 27px 0 0;
}
.lien-he .flex_col3 {
  display: flex;
  flex-direction: column;
  margin: 0 0 55px;
  width: 410px;
  min-width: 0;
}
.lien-he .content_box8 {
  display: flex;
  flex-direction: column;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.lien-he .flex_row10 {
  display: flex;
  gap: 0 10px;
  margin: 9.5px 10px 10px;
}
.lien-he .content_box2 {
  display: flex;
  flex-direction: column;
  margin: 0.5px 0 5px;
  width: 40px;
  min-width: 0;
  background-color: forestgreen;
  border-radius: 20px;
}
.lien-he .image6 {
  margin: 9px 13px 13px;
  width: 14px;
}
.lien-he .flex_col4 {
  display: flex;
  flex-direction: column;
  width: 313px;
  min-width: 0;
}
.lien-he .info9 {
  display: flex;
  align-items: center;
  font: 400 16px/1.5 Inter, Helvetica, Arial, serif;
  color: #212529;
}
.lien-he .info10 {
  display: flex;
  align-items: center;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #212529;
}
.lien-he .flex_col5 {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  margin: 9.5px 1px 0 0;
}
.lien-he .info13_box {
  display: flex;
  align-items: center;
}
.lien-he .info13 {
  font: 400 16px/1.5 Inter, Helvetica, Arial, serif;
  color: black;
}
.lien-he .info13_span0 {
  font: 1em/1.5 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .info13_span1 {
  font: 1em/1.5 Inter, Helvetica, Arial, serif;
  color: red;
}
.lien-he .color5 {
  margin: 0 0 0 1px;
  min-height: 38px;
  background-color: #f7f7f7;
  border-radius: 8px;
  outline: 1px solid #f7f7f7;
}
.lien-he .flex_col6 {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  margin: 15.5px 1px 0 0;
}
.lien-he .flex_col7 {
  display: flex;
  flex-direction: column;
  gap: 16px 0;
  width: 840px;
  min-width: 0;
}
.lien-he .flex_col8 {
  display: flex;
  flex-direction: column;
  gap: 9px 0;
}
.lien-he .flex_row11 {
  display: flex;
  gap: 0 20px;
}
.lien-he .content_box4 {
  position: relative;
  width: 410px;
  min-width: 0;
  min-height: 65px;
}
.lien-he .content_box3 {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 65px;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.lien-he .flex_row12 {
  display: flex;
  gap: 0 10px;
  margin: 9.5px 10px 15px;
}
.lien-he .content_box21 {
  display: flex;
  flex-direction: column;
  margin: 0.5px 0 0;
  width: 40px;
  min-width: 0;
  background-color: forestgreen;
  border-radius: 20px;
}
.lien-he .info91 {
  display: flex;
  align-items: center;
  margin: 0 0 16.5px;
  min-width: 0;
  font: 400 16px/1.5 Inter, Helvetica, Arial, serif;
  color: #212529;
}
.lien-he .info11 {
  position: absolute;
  top: 34px;
  left: 60px;
  display: flex;
  align-items: center;
  width: 112px;
  height: 21px;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .content_box6 {
  display: flex;
  flex-direction: column;
  width: 410px;
  min-width: 0;
  background-color: #f7f7f7;
  border-radius: 5px;
}
.lien-he .content_box5 {
  display: flex;
  flex-direction: column;
  margin: 0.5px 0 5px;
  width: 40px;
  min-width: 0;
  background-color: forestgreen;
  border-radius: 20px;
}
.lien-he .image7 {
  margin: 9px 11px 13px;
  width: 18px;
}
.lien-he .flex_col9 {
  display: flex;
  flex-direction: column;
  width: 97px;
  min-width: 0;
}
.lien-he .info92 {
  display: flex;
  align-items: center;
  margin: 0 16px 0 0;
  font: 400 16px/1.5 Inter, Helvetica, Arial, serif;
  color: #212529;
}
.lien-he .info12 {
  display: flex;
  align-items: center;
  font: 400 13.5625px/1.54 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .flex_col10 {
  display: flex;
  flex-direction: column;
  gap: 6px 0;
  margin: 0 1px 0 0;
}
.lien-he .color6 {
  margin: 0 0 0 1px;
  min-height: 121px;
  background-color: #f7f7f7;
  border-radius: 8px;
  outline: 1px solid #f7f7f7;
}
.lien-he .btn1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 114px;
  max-width: 100%;
  font: 400 14px/2.71 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: forestgreen;
  border-radius: 7px;
  padding: 1px 22px;
  outline: 1px solid forestgreen;
  outline-offset: -1px;
}
.lien-he .section4 {
  display: flex;
  flex-direction: column;
  background-color: forestgreen;
}
.lien-he .flex_row13 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 21px auto;
  width: 1271px;
}
.lien-he .flex_row14 {
  display: flex;
  gap: 0 18px;
  width: 262px;
  min-width: 0;
}
.lien-he .color17 {
  width: 38px;
  min-width: 0;
  min-height: 38px;
  border-radius: 19px;
  outline: 2px solid white;
  outline-offset: -2px;
  opacity: 0.5;
}
.lien-he .flex_row15 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 10px;
  width: 740px;
  min-width: 0;
}
.lien-he .info19 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  min-width: 0;
  font: 700 15.75px/1.21 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}
.lien-he .content_box1 {
  position: relative;
  width: 344px;
  min-width: 0;
  min-height: 38px;
}
.lien-he .content_box {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 344px;
  height: 38px;
  background-color: white;
  border-radius: 3px;
  outline: 1px solid #ebebeb;
}
.lien-he .btn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 0 auto;
  width: 84px;
  font: 700 14px/1.5 Inter, Helvetica, Arial, serif;
  color: white;
  text-align: center;
  background-color: #37cd37;
  border-radius: 0 3px 3px 0;
  padding: 8.5px 16.5px 8.5px 15.5px;
}
.lien-he .info20 {
  position: absolute;
  top: 10px;
  left: 15px;
  display: flex;
  align-items: center;
  width: 119px;
  height: 17px;
  font: 400 14px/1.21 Inter, Helvetica, Arial, serif;
  color: #6c757d;
}
.lien-he .section5 {
  display: flex;
  flex-direction: column;
}
.lien-he .flex_row16 {
  display: flex;
  justify-content: space-between;
  gap: 0 10px;
  margin: 34px auto 85.5px;
  width: 1268px;
  padding-right: 22px;
}
.lien-he .flex_col11 {
  display: flex;
  flex-direction: column;
  margin: 0 0 14.5px;
  width: 291px;
  min-width: 0;
}
.lien-he .flex_row17 {
  z-index: 4;
  display: flex;
  gap: 0 10px;
}
.lien-he .wrapper {
  margin: 0 0 7px;
  width: 64px;
  min-width: 0;
}
.lien-he .info23 {
  display: flex;
  align-items: center;
  margin: 43px 0 0;
  min-width: 0;
  font: 400 15px/1.73 Inter, Helvetica, Arial, serif;
  color: forestgreen;
}
.lien-he .flex_row18 {
  display: flex;
  margin: 13px 0 0;
}
.lien-he .image26 {
  margin: 0 0 18px;
  width: 30px;
  min-width: 0;
}
.lien-he .info101 {
  display: flex;
  align-items: center;
  width: 261px;
  min-width: 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #212529;
}
.lien-he .flex_row19 {
  display: flex;
  margin: 12px 0 0;
}
.lien-he .image261 {
  width: 30px;
  min-width: 0;
}
.lien-he .info111 {
  display: flex;
  align-items: center;
  margin: 0 0 3px;
  min-width: 0;
  font: 400 14px/1.5 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .info121 {
  display: flex;
  align-items: center;
  margin: 0 0 3px;
  min-width: 0;
  font: 400 13.5625px/1.54 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .info22 {
  display: flex;
  align-items: center;
  margin: 0 0 3px;
  min-width: 0;
  font: 400 13.453125px/1.56 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .flex_col12 {
  display: flex;
  flex-direction: column;
  margin: 44.5px 0 0;
  width: 137px;
  min-width: 0;
}
.lien-he .info24 {
  display: flex;
  align-items: center;
  font: 700 15.75px/1.21 Inter, Helvetica, Arial, serif;
  color: forestgreen;
  text-transform: uppercase;
}
.lien-he .info25 {
  display: flex;
  align-items: center;
  margin: 18px 0 0;
  font: 400 14px/1.42 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .info251 {
  display: flex;
  align-items: center;
  margin: 16px 9px 0 0;
  font: 400 14px/1.42 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .info252 {
  display: flex;
  align-items: center;
  margin: 16px 7px 0 0;
  font: 400 14px/1.42 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .info253 {
  display: flex;
  align-items: center;
  margin: 16px 0 0;
  font: 400 14px/1.42 Inter, Helvetica, Arial, serif;
  color: #333333;
}
.lien-he .flex_col13 {
  display: flex;
  flex-direction: column;
  margin: 44.5px 0 72px;
  width: 234px;
  min-width: 0;
}
.lien-he .info241 {
  display: flex;
  align-items: center;
  font: 700 15.75px/1.21 Inter, Helvetica, Arial, serif;
  color: forestgreen;
  text-transform: uppercase;
  letter-spacing: -0.1px;
}
.lien-he .flex_col14 {
  display: flex;
  flex-direction: column;
  margin: 44.5px 0 18.5px;
  width: 279px;
  min-width: 0;
}
.lien-he .info26 {
  display: flex;
  align-items: center;
  font: 700 15.5px/1.23 Inter, Helvetica, Arial, serif;
  color: forestgreen;
  text-transform: uppercase;
}
.lien-he .image31 {
  margin: 15.5px 0 0;
  width: 100%;
}
.lien-he .image32 {
  margin: 20px 0 0;
  width: 158px;
}